# Selecting Elements within a Dropdown

In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import pandas as pd
import time

driver = webdriver.Chrome()
website = 'https://www.adamchoi.co.uk/overs/detailed'
driver.get(website)

In [5]:
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]')

all_matches_button.click()

In [6]:
dropdown = Select(driver.find_element(By.ID, 'country'))
dropdown.select_by_visible_text('Spain')
time.sleep(3) # 3 seconds

In [7]:
matches = driver.find_elements(By.TAG_NAME, 'tr')

date = []
home_team = []
score = []
away_team = []

for match in matches:
    date.append(match.find_element(By.XPATH, './td[1]' ).text)

    home = match.find_element(By.XPATH, './td[2]' ).text
    home_team.append(home)
    print(home)

    score.append(match.find_element(By.XPATH, './td[3]' ).text)
    away_team.append(match.find_element(By.XPATH, './td[4]' ).text)

Cadiz
Alaves
Getafe
Alaves
Vallecano
Alaves
Celta
Alaves
Alaves
Villarreal
Almeria
Almeria
Cadiz
Almeria
Villarreal
Almeria
Sevilla
Almeria
Ath Bilbao
Girona
Ath Bilbao
Osasuna
Ath Bilbao
Mallorca
Ath Bilbao
Alaves
Ath Bilbao
Sociedad
Ath Bilbao
Barcelona
Ath Madrid
Betis
Vallecano
Valencia
Ath Madrid
Osasuna
Ath Madrid
Ath Madrid
Celta
Getafe
Barcelona
Villarreal
Osasuna
Barcelona
Barcelona
Mallorca
Barcelona
Granada
Barcelona
Villarreal
Betis
Ath Bilbao
Betis
Barcelona
Betis
Granada
Betis
Alaves
Getafe
Cadiz
Barcelona
Cadiz
Cadiz
Ath Bilbao
Betis
Cadiz
Ath Madrid
Cadiz
Valencia
Celta
Sociedad
Celta
Almeria
Celta
Barcelona
Celta
Las Palmas
Celta
Celta
Getafe
Girona
Getafe
Real Madrid
Getafe
Sociedad
Ath Bilbao
Getafe
Celta
Getafe
Sociedad
Girona
Sevilla
Girona
Granada
Girona
Villarreal
Girona
Cadiz
Girona
Ath Madrid
Granada
Granada
Sociedad
Granada
Las Palmas
Granada
Almeria
Granada
Osasuna
Las Palmas
Valencia
Las Palmas
Girona
Sevilla
Las Palmas
Real Madrid
Las Palmas
Villarreal
Las Palmas
Las Palmas
Mallorca
Granada
Mallorca
Celta
Girona
Mallorca
Vallecano
Mallorca
Sociedad
Celta
Osasuna
Valencia
Osasuna
Getafe
Osasuna
Osasuna
Alaves
Real Madrid
Osasuna
Ath Bilbao
Almeria
Celta
Real Madrid
Real Madrid
Ath Madrid
Real Madrid
Girona
Real Madrid
Sevilla
Sevilla
Alaves
Sevilla
Sevilla
Osasuna
Sevilla
Barcelona
Sevilla
Sevilla
Sociedad
Sociedad
Las Palmas
Sociedad
Real Madrid
Sociedad
Valencia
Sociedad
Ath Madrid
Sociedad
Sevilla
Valencia
Valencia
Alaves
Valencia
Almeria
Valencia
Betis
Mallorca
Valencia
Almeria
Granada
Vallecano
Betis
Vallecano
Vallecano
Cadiz
Vallecano
Sevilla
Las Palmas
Villarreal
Mallorca
Villarreal
Cadiz
Villarreal
Vallecano
Villarreal
Getafe
Villarreal
Villarreal

In [8]:
df = pd.DataFrame({'date':date, 'home_team': home_team, 'score':score, 'away_team': away_team})
df.to_csv('9-1_football_data.csv', index=False)
print(df)

           date   home_team  score   away_team
0    14-08-2023       Cadiz  1 - 0      Alaves
1    21-08-2023      Alaves  4 - 3     Sevilla
2    28-08-2023      Getafe  1 - 0      Alaves
3    02-09-2023      Alaves  1 - 0    Valencia
4    15-09-2023   Vallecano  2 - 0      Alaves
..          ...         ...    ...         ...
193  24-09-2023   Vallecano  1 - 1  Villarreal
194  27-09-2023  Villarreal  1 - 2      Girona
195  30-09-2023      Getafe  0 - 0  Villarreal
196  08-10-2023  Villarreal  1 - 2  Las Palmas
197  22-10-2023  Villarreal  ? - ?      Alaves

[198 rows x 4 columns]