# 002 Numbers and Strings

In [47]:
import numpy as np

In [48]:
#data types

#ints vs. floats

c = 7
d = 7.0

print(type(c))
print(type(d))
print(c)
print(d)
print(c,d)

<class 'int'>
<class 'float'>
7
7.0
7 7.0

In [49]:
for i in range(c):
    print(i)

0
1
2
3
4
5
6

In [50]:
#can't loop for float data type
for i in range(d):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
c+d

14.0

In [ ]:
firstname = ' shafiq '
lastname = 'rahim'

type(firstname)

str

In [ ]:
firstname + ' ' + lastname  #overloading

'shafiq rahim'

In [ ]:
firstname * 3

' shafiq  shafiq  shafiq '

In [ ]:
%whos

Variable    Type      Data/Info
-------------------------------
c           int       7
d           float     7.0
firstname   str        shafiq
i           int       6
lastname    str       rahim
np          module    <module 'numpy' from 'c:\<...>ges\\numpy\\__init__.py'>

In [57]:
#Excercise

#convert acoss datatypes
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

# convert the strings to integers
print(type(int(s1)))
print(int(s1))

# convert the strings to floats
print(type(float(s2)))
print(float(s2))

# convert the numbers into strings
print(type(str(n1)))
print(str(n1))
print(type(str(n2)))
print(str(n2))

<class 'int'>
4
<class 'float'>
4.7
<class 'str'>
5
<class 'str'>
5.8